.download-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04);
  background: #fff;
  overflow: hidden;
}

.download-button svg:first-child{
  transform: translateY(-100%);
}
.download-button svg:nth-child(2){
  transform: translateY(calc(-50% - 1px));
}

.download-button svg{
  transition: transform 220ms ease-in-out;
}

.download-button:hover svg:first-child{
  transform: translateY(calc(50% + 1px))
}

.download-button:hover svg:nth-child(2){
  transform: translateY(100%)
}