@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
      
      --ease-in-quad: cubic-bezier(.55, .085, .68, .53); 
      --ease-in-cubic: cubic-bezier(.550, .055, .675, .19); 
      --ease-in-quart: cubic-bezier(.895, .03, .685, .22); 
      --ease-in-quint: cubic-bezier(.755, .05, .855, .06); 
      --ease-in-expo: cubic-bezier(.95, .05, .795, .035); 
      --ease-in-circ: cubic-bezier(.6, .04, .98, .335); 
      
      --ease-out-quad: cubic-bezier(.25, .46, .45, .94); 
      --ease-out-cubic: cubic-bezier(.215, .61, .355, 1); 
      --ease-out-quart: cubic-bezier(.165, .84, .44, 1); 
      --ease-out-quint: cubic-bezier(.23, 1, .32, 1); 
      --ease-out-expo: cubic-bezier(.19, 1, .22, 1); 
      --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
       
      --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
      --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1); 
      --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1); 
      --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1); 
      --ease-in-out-expo: cubic-bezier(1, 0, 0, 1); 
      --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
      text-rendering: optimizeLegibility;
    }
    body {
      @apply bg-background text-foreground;
    }
  }